In [1]:
#Question 1
ages=[19,22,19,24,20,25,26,24,25,24]
ages.sort()
print("Sorted list is :",ages)
Min=min(ages)
print("minimum value is:",Min)
Max=max(ages)
print("Maximum value is:",Max)
ages.append(Min)
ages.append(Max)
print("After adding min and max again to the list:",ages)
ages.sort()
n=len(ages)
#n is the number of entities in the list
if(n%2!=0):
    print("median of the list is:",ages[(n+1)/2])
else:
    print("Median of the list is:",ages[int(n/2)],"and",ages[int((n/2)+1)])
Average=sum(ages)/n
print("Average of the ages list is",Average)
Range=Max-Min
print("Range of the ages list is",Range)

Sorted list is : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
minimum value is: 19
Maximum value is: 26
After adding min and max again to the list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median of the list is: 24 and 24
Average of the ages list is 22.75
Range of the ages list is 7

In [3]:
#Question 2
dog={}
dog['name']='tommy'
dog['color']='white'
dog['breed']='siberian husky'
dog['legs']=4
dog['age']=5
print('key value pairs of dog dictionary',dog)
student={'firstname':'Lakshmi priya','lastname':'Kalapala','gender':'male','age':30,'maritial status':'single','skills':['C++','Python','Java','Html'],'country':'India','city':'Guntur','address':'2-6 Thimmapuram Andhrapadesh 522233'}
print('Student Dictionary:',student)
print('length of Student dictionary:',len(student))
print('Value of skills in student dictionary',student['skills'])
print('type of value of skills in student:',type(student['skills']))
student['skills'].append('css')
student['skills'].append('Javascript')
print('values of skills in student:',student['skills'])
x=list(student.keys())
#x is the list of keys in student
print('keys of dictionary student in lists:',x,'type=',type(x))
y=list(dog.keys())
#y is the list of keys in dog
print('keys of dictionary dog in lists:',y,'type=',type(y))
m=list(student.values())
#m is the list of values in student
print('values of dictionary student in lists:',m,'type=',type(m))
n=list(dog.values())
#n is the list of values in dog
print('values of dictionary dog in lists:',n,'type=',type(n))

key value pairs of dog dictionary {'name': 'tommy', 'color': 'white', 'breed': 'siberian husky', 'legs': 4, 'age': 5}
Student Dictionary: {'firstname': 'Lakshmi priya', 'lastname': 'Kalapala', 'gender': 'male', 'age': 30, 'maritial status': 'single', 'skills': ['C++', 'Python', 'Java', 'Html'], 'country': 'India', 'city': 'Guntur', 'address': '2-6 Thimmapuram Andhrapadesh 522233'}
length of Student dictionary: 9
Value of skills in student dictionary ['C++', 'Python', 'Java', 'Html']
type of value of skills in student: <class 'list'>
values of skills in student: ['C++', 'Python', 'Java', 'Html', 'css', 'Javascript']
keys of dictionary student in lists: ['firstname', 'lastname', 'gender', 'age', 'maritial status', 'skills', 'country', 'city', 'address'] type= <class 'list'>
keys of dictionary dog in lists: ['name', 'color', 'breed', 'legs', 'age'] type= <class 'list'>
values of dictionary student in lists: ['Lakshmi priya', 'Kalapala', 'male', 30, 'single', ['C++', 'Python', 'Java', 'Html', 'css', 'Javascript'], 'India', 'Guntur', '2-6 Thimmapuram Andhrapadesh 522233'] type= <class 'list'>
values of dictionary dog in lists: ['tommy', 'white', 'siberian husky', 4, 5] type= <class 'list'>

In [ ]:
#Question 3
sisters=('Amrutha','Raji','Mounika')
print('sisters:',sisters)
brothers=('Virat','manikanta','durga')
print('brothers:',brothers)
siblings=sisters+brothers
print('Siblings tuple:',siblings)
print('number of siblings:',len(siblings))
siblings=list(siblings)
siblings.append('Raghavulu')
#my father name is Raghavulu
siblings.append('Anjali')
#my mother name is Anjali
familymembers=tuple(siblings)
print('family members:',familymembers)

sisters: ('Amrutha', 'Raji', 'Mounika')
brothers: ('Virat', 'manikanta', 'durga')
Siblings tuple: ('Amrutha', 'Raji', 'Mounika', 'Virat', 'manikanta', 'durga')
number of siblings: 6
family members: ('Amrutha', 'Raji', 'Mounika', 'Virat', 'manikanta', 'durga', 'Raghavulu', 'Anjali')

In [ ]:
#Question 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print('length of set it_companies:',len(it_companies))
it_companies.add('Twitter')
print(it_companies)
it_companies.update(['Tesla','Instagram'])
print(it_companies)
it_companies.remove('IBM')
print(it_companies)
#Difference between discard and remove
it_companies.discard('IBM')
it_companies.discard('Oracle')
print(it_companies)
#discard and remove both are used to remove value in a set and the difference between discard and remove is discard does not give error
#when the value is not present where as remove gives error
C=A.union(B)
print('Joining of A and B',C)
D=A.intersection(B)
print('Intersection of A and B',D)
print('is A subset of B',A.issubset(B))
print('Are A and B disjoint sets:',A.isdisjoint(B))
A.update(B)
print('joining A with B',A)
B.update(A)
print('Joining B with A',B)
Diff=A.symmetric_difference(B)
#set() value output represent empty or null value
print('#set() value output represent empty or null value')
print('Symmetric_difference of A and B:',Diff)
it_companies.clear()
A.clear()
B.clear()
print('After deletion of all the values in the sets A,B,it_companies',A,B,it_companies)
#set() value output represent empty or null value
l1=len(age)
print('length of list age:',l1)
#l1 is length of the list age
l2=len(set(age))
print('length of set age:',l2)
#l2 is length of the set age
print('Length of the set is 5 because a set doesnot have any duplicate entries and list can have duplicate values so its length is 8')

length of set it_companies: 7
{'Google', 'Microsoft', 'Amazon', 'Apple', 'IBM', 'Twitter', 'Oracle', 'Facebook'}
{'Google', 'Microsoft', 'Tesla', 'Amazon', 'Apple', 'IBM', 'Twitter', 'Instagram', 'Oracle', 'Facebook'}
{'Google', 'Microsoft', 'Tesla', 'Amazon', 'Apple', 'Twitter', 'Instagram', 'Oracle', 'Facebook'}
{'Google', 'Microsoft', 'Tesla', 'Amazon', 'Apple', 'Twitter', 'Instagram', 'Facebook'}
Joining of A and B {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B {19, 20, 22, 24, 25, 26}
is A subset of B True
Are A and B disjoint sets: False
joining A with B {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A {19, 20, 22, 24, 25, 26, 27, 28}
#set() value output represent empty or null value
Symmetric_difference of A and B: set()
After deletion of all the values in the sets A,B,it_companies set() set() set()
length of list age: 8
length of set age: 5
Length of the set is 5 because a set doesnot have any duplicate entries and list can have duplicate values so its length is 8

In [ ]:
#Question 5
radius=float(30)
_area_of_circle_=((22/7)*radius*radius)
print('area of circle is:',_area_of_circle_)
_circum_of_circle_=2*(22/7)*radius
print('circumference of th circle is:',_circum_of_circle_)
#Calculating area with input radius
print('Taking radius as input from user ')
radii=float(input('Enter radius of a circle:'))
area=((22/7)*radii*radii)
print('area of circle with user inputed radius is:',area)

area of circle is: 2828.5714285714284
circumference of th circle is: 188.57142857142856
Taking radius as input from user
Enter radius of a circle:25
area of circle with user inputed radius is: 1964.2857142857142

In [ ]:
#Question 6
inp='I am a teacher and I love to inspire and teach people'
#inp is the given string
words=inp.split(' ')
#splitting the words and adding them into words list
print(words)
uniq=set(words)
#sets does not allow data duplicates
print(uniq)
print('length of the unique words in the given sentence is:',len(uniq))

['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
{'to', 'am', 'inspire', 'love', 'teacher', 'and', 'I', 'a', 'people', 'teach'}
length of the unique words in the given sentence is: 10

In [ ]:
#Question 7
print('Name\tAge\tCountry\tCity')
print('Asabeneh\t250\tFinland\tHelsinki')

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [ ]:
#Question 8
radius=float(10)
area=(3.14)*radius**2
string='The area of the circle with radius {0} is {1} meters square'.format(radius,area)
#using string formating printing out the area of the circle
print(string)

The area of the circle with radius 10.0 is 314.0 meters square

In [ ]:
#Question 9
N=int(input('Number of students:'))
lbs=[]
print('Enter weights in lbs:\t')
for i in range(N):
    lbs.append(float(input()))
print('Weights of students in lbs:\t',lbs)
kilos=[]
for i in lbs:
    kilos.append(round(float(i)*(0.45359237),3))
print('Weights of the students in kilos:',kilos)

Number of students:5
Enter weights in lbs:
100
120
140
160
170
Weights of students in lbs:	 [100.0, 120.0, 140.0, 160.0, 170.0]
Weights of the students in kilos: [45.359, 54.431, 63.503, 72.575, 77.111]